---
name: test

"on":
  pull_request:

jobs:
  test:
    name: "Test"
    permissions: {}
    timeout-minutes: 10
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # v6.0.1
        with:
          persist-credentials: false

      - name: Setup Node
        uses: actions/setup-node@395ad3262231945c25e8478fd5baf05154b1d79f # v6.1.0
        with:
          cache: npm
          node-version: 24

      - name: Install dependencies
        run: npm ci

      - name: Lint
        run: npm run -w sifaru_yusin build:tsc && npm run lint

      - name: Test
        run: npm run test
