---
name: Deploy GitHub Pages
"on":
  workflow_call:
  workflow_dispatch:

permissions:
  contents: read
  id-token: write
  pages: write

concurrency:
  group: pages
  cancel-in-progress: true

jobs:
  build:
    runs-on: ubuntu-24.04
    timeout-minutes: 15
    permissions:
      contents: read
      id-token: write
      pages: write
    env:
      ANTLR4_VERSION: "4.13.2"
    steps:
      - name: Checkout
        uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # v6.0.1
        with:
          persist-credentials: false

      - uses: actions/setup-java@f2beeb24e141e01a676f977032f5a29d81c9e27e # v5.1.0
        with:
          distribution: temurin
          java-version: 21

      - name: Install ANTLR4
        # yamllint disable rule:line-length
        run: |
          sudo apt-get install -y --no-install-recommends curl
          curl -fsSL "https://www.antlr.org/download/antlr-${ANTLR4_VERSION}-complete.jar" > "antlr-${ANTLR4_VERSION}-complete.jar"
        # yamllint enable rule:line-length
        working-directory: packages/sifaru_yusin

      - name: Setup Node
        uses: actions/setup-node@395ad3262231945c25e8478fd5baf05154b1d79f # v6.1.0
        with:
          cache: npm
          node-version: 24

      - name: Install dependencies
        run: npm ci

      - name: Build ui
        run: npm run build

      - name: Upload Pages artifact
        uses: actions/upload-pages-artifact@7b1f4a764d45c48632c6b24a0339c27f5614fb0b # v4.0.0
        with:
          path: dist

  deploy:
    needs: build
    runs-on: ubuntu-24.04
    timeout-minutes: 15
    permissions:
      contents: read
      id-token: write
      pages: write
    environment:
      name: github-pages
      url: ${{ steps.deployment.outputs.page_url }}
    steps:
      - name: Deploy to GitHub Pages
        id: deployment
        uses: actions/deploy-pages@d6db90164ac5ed86f2b6aed7e0febac5b3c0c03e # v4.0.5
