---
name: test

"on": [pull_request, push]

jobs:
  test:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/setup-python@v2
        with:
          python-version: "3.10"
      - uses: actions/checkout@v2
      - run: |
          echo ${{ secrets.GITHUB_TOKEN }} | docker login ghcr.io -u c4se-jp --password-stdin
          docker-compose pull web || true
          ./tasks.py build test
          docker-compose push web
        env:
          COMPOSE_DOCKER_CLI_BUILD: "1"
          DOCKER_BUILDKIT: "1"
